html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
  background-color: $white;
  color: $gray-base;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  margin: 0;
  overflow-x: hidden;
}

// Add transitions to action elements
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
	transition: all 0.2s ease-in-out;
}

// Links
a {
	color: $link-color;
	text-decoration: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $gray-base;
    text-decoration: none;
  }

  @media print {
    text-decoration: underline;

    &[href]::after {
      content: " (" attr(href) ")";
    }

    &[href^="javascript:"]::after,
    &[href^="#"]::after {
      content: "";
    }
  }
}

// Lists
ol,
ul {
	margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }

  @media print {
		page-break-before: avoid;
  }
}

// Horizontal rule
hr {
	border: none;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: $gutter 0;
}

// Bold
b,
strong {
	font-weight: 700;
}

// Quotes
blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: #ddd;
	color: $gray-base;
}

blockquote {
	margin: $gutter;
}

blockquote,
pre {
  @media print {
		border: 1px solid #999;
		page-break-inside: avoid;
  }
}

abbr {
  @media print {
    &[title]::after {
      content: " (" attr(title) ")";
    }
  }
}
