@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

@mixin visible {
  opacity: 1;
  visibility: visible;
}

@mixin border-radius {
	border-radius: $radius;
}

@mixin clean-ul (
  $no-padding: 0,
  $no-margin: 0,
  $no-list: none
) {
	list-style: $no-list;
	padding: $no-padding;
	margin: $no-margin;
}

@mixin trans (
  $trans-speed: 0.2s,
  $trans-timing: ease-in-out
) {
	transition: $trans-timing $trans-speed;
}

@mixin bgcover {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@mixin contain {
  max-width: $desktop-width;
  margin: 0 auto;
}

@mixin titlebar {
  color: $white;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 700;

  a {
    color: $white;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $white;
      text-decoration: underline;
    }
  }
}
