// Colors
$white: #fff;
$black: #000;

$gray-base: #222325;

$primary: #0073e5;

$link-color: $primary;

// Fonts
$font-family: 'Muli', Helvetica, sans-serif;
$icon-font: 'dashicons';

// Content padding/spacing
$radius: 2px;
$gutter: 30px;

// Breakpoints/widths
$breakpoint: 960px;
$desktop-width: 1200px;