/*
Theme Name: Slice
Description: This is a child theme created for the Genesis Framework.
Author: Layer Cake Co.
Author URI: https://layercakeco.com
Version: 1.0.0
Template: genesis
License: GPL-2.0-or-later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: slice
*/
/* Baseline Normalize
--------------------------------------------- */
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
button, hr, input {
  overflow: visible; }

progress, sub, sup {
  vertical-align: baseline; }

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

[hidden], template {
  display: none; }

/* Box Sizing
--------------------------------------------- */
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }
  @media print {
    *,
    *::before,
    *::after {
      background: transparent !important;
      box-shadow: none !important;
      color: #333 !important;
      text-shadow: none !important; } }

/* Float Clearing
--------------------------------------------- */
.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before {
  content: " ";
  display: table; }

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after {
  clear: both;
  content: " ";
  display: table; }

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #fff;
  color: #222325;
  font-family: "Muli", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  margin: 0;
  overflow-x: hidden; }

button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all 0.2s ease-in-out; }

a {
  color: #0073e5;
  text-decoration: none;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer; }
  a:focus, a:hover {
    color: #222325;
    text-decoration: none; }
  @media print {
    a {
      text-decoration: underline; }
      a[href]::after {
        content: " (" attr(href) ")"; }
      a[href^="javascript:"]::after, a[href^="#"]::after {
        content: ""; } }

ol,
ul {
  margin: 0;
  padding: 0; }
  ol li,
  ul li {
    list-style-type: none; }
  @media print {
    ol,
    ul {
      page-break-before: avoid; } }

hr {
  border: none;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  clear: both;
  margin: 30px 0; }

b,
strong {
  font-weight: 700; }

blockquote,
cite,
em,
i {
  font-style: italic; }

mark {
  background: #ddd;
  color: #222325; }

blockquote {
  margin: 30px; }

@media print {
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid; } }

@media print {
  abbr[title]::after {
    content: " (" attr(title) ")"; } }

.site-container {
  word-wrap: break-word; }

.site-inner {
  clear: both;
  margin: 0 auto;
  padding: 60px 30px 0; }
  @media only screen and (min-width: 960px) {
    .site-inner {
      margin-top: 60px;
      max-width: 1200px; } }
  @media print {
    .site-inner {
      padding-top: 0;
      position: relative; } }

@media only screen and (min-width: 960px) {
  .content {
    float: left;
    width: 70%; } }

@media only screen and (min-width: 960px) {
  .full-width-content .content,
  .landing-page .content {
    float: none;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (min-width: 960px) {
  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    float: left;
    margin-left: 2.564102564102564%; } }

@media only screen and (min-width: 960px) {
  .one-half,
  .three-sixths,
  .two-fourths {
    width: 48.717948717948715%; } }

@media only screen and (min-width: 960px) {
  .one-third,
  .two-sixths {
    width: 31.623931623931625%; } }

@media only screen and (min-width: 960px) {
  .four-sixths,
  .two-thirds {
    width: 65.81196581196582%; } }

@media only screen and (min-width: 960px) {
  .one-fourth {
    width: 23.076923076923077%; } }

@media only screen and (min-width: 960px) {
  .three-fourths {
    width: 74.35897435897436%; } }

@media only screen and (min-width: 960px) {
  .one-sixth {
    width: 14.52991452991453%; } }

@media only screen and (min-width: 960px) {
  .five-sixths {
    width: 82.90598290598291%; } }

@media only screen and (min-width: 960px) {
  .first {
    clear: both;
    margin-left: 0; } }

.after-entry,
.author-box {
  margin-bottom: 40px; }

.after-entry {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 20px 30px; }

.after-entry .widget:last-of-type {
  margin-bottom: 0; }

.breadcrumb {
  border-bottom: 1px solid #eee;
  font-size: 16px;
  margin-bottom: 40px;
  padding-bottom: 10px; }

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0; }

a.aligncenter img {
  display: block;
  margin: 0 auto; }

a.alignnone {
  display: inline-block; }

.alignleft {
  float: left;
  text-align: left; }

.alignright {
  float: right;
  text-align: right; }

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%; }

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 30px; }

img.alignnone,
.alignnone {
  margin-bottom: 15px; }

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 20px 20px 0; }

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 20px 20px; }

.gallery-caption,
.wp-caption-text {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-align: center; }

.entry-content p.wp-caption-text {
  margin-bottom: 0; }

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 30px; }

.comment-respond,
.entry-comments,
.entry-pings {
  margin-bottom: 40px; }

.comment-list li {
  padding: 40px 0 0 30px; }

.comment-list .depth-1 {
  padding-left: 0; }

.comment-header {
  margin-bottom: 30px; }

.comment-content {
  clear: both; }

.comment-content ul > li {
  list-style-type: disc; }

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%; }

.comment-respond label {
  display: block;
  margin-right: 12px; }

.comment-header p {
  margin-bottom: 0; }

.entry-pings .reply {
  display: none; }

.comment-form-cookies-consent label {
  display: inline;
  padding-left: 10px; }

.site-footer {
  background-color: #fff;
  border-top: 1px solid #eee;
  font-size: 15px;
  line-height: 1.5;
  padding: 30px;
  text-align: center; }
  .site-footer p {
    margin-bottom: 0; }

.footer-widgets {
  border-top: 1px solid #eee;
  background-color: #fff;
  clear: both;
  padding: 60px 0; }
  .footer-widgets .wrap {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px; }
    @media only screen and (min-width: 960px) {
      .footer-widgets .wrap {
        max-width: 1140px; } }

.footer-widget-area {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px; }
  @media only screen and (min-width: 960px) {
    .footer-widget-area {
      float: left;
      margin-bottom: 0;
      width: calc(100% / 3); } }

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
  margin-bottom: 0; }

.gallery {
  overflow: hidden; }
  .gallery img {
    border: 1px solid #eee;
    height: auto;
    padding: 4px; }
    .gallery img:focus, .gallery img:hover {
      border: 1px solid #999;
      outline: none; }

.gallery-columns-1 .gallery-item {
  width: 100%; }

.gallery-columns-2 .gallery-item {
  width: 50%; }

.gallery-columns-3 .gallery-item {
  width: 33%; }

.gallery-columns-4 .gallery-item {
  width: 25%; }

.gallery-columns-5 .gallery-item {
  width: 20%; }

.gallery-columns-6 .gallery-item {
  width: 16.6666%; }

.gallery-columns-7 .gallery-item {
  width: 14.2857%; }

.gallery-columns-8 .gallery-item {
  width: 12.5%; }

.gallery-columns-9 .gallery-item {
  width: 11.1111%; }

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left; }

.gallery-item {
  float: left;
  margin: 0 0 30px;
  text-align: center; }

.site-header {
  padding: 30px 0; }
  .site-header .wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px; }
  .site-header .title-area p {
    margin-bottom: 0; }

.nav-secondary {
  margin-top: 15px; }

.nav-secondary .genesis-nav-menu {
  line-height: 1.5; }

.nav-secondary .menu-item {
  display: inline-block; }

.nav-secondary a {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0; }

.nav-primary {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 15px 0;
  width: 100%; }
  .menu-open .nav-primary {
    display: block;
    background: #fff; }
  @media only screen and (min-width: 960px) {
    .nav-primary {
      display: block;
      position: relative;
      width: auto; } }

.genesis-nav-menu {
  display: flex;
  align-items: center;
  width: 100%; }
  .genesis-nav-menu .menu-item {
    display: block;
    float: none;
    position: relative; }
    .genesis-nav-menu .menu-item:focus, .genesis-nav-menu .menu-item:hover {
      position: relative; }
    .genesis-nav-menu .menu-item:hover > .sub-menu {
      display: block;
      left: auto;
      opacity: 1; }
    @media only screen and (min-width: 960px) {
      .genesis-nav-menu .menu-item {
        display: inline-block; } }
  .genesis-nav-menu a {
    color: #222325;
    display: block;
    font-size: 15px;
    font-weight: 400;
    outline-offset: -1px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none; }
    @media only screen and (min-width: 960px) {
      .genesis-nav-menu a {
        padding-left: 15px;
        padding-right: 15px; } }
  .genesis-nav-menu a:focus,
  .genesis-nav-menu a:hover,
  .genesis-nav-menu .current-menu-item > a,
  .genesis-nav-menu .sub-menu .current-menu-item > a:focus,
  .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
    color: #0073e5;
    text-decoration: none; }
  .genesis-nav-menu .sub-menu,
  .genesis-nav-menu .sub-menu a {
    width: 100%; }
    @media only screen and (min-width: 960px) {
      .genesis-nav-menu .sub-menu,
      .genesis-nav-menu .sub-menu a {
        width: 180px; } }
  .genesis-nav-menu .sub-menu {
    clear: both;
    display: none;
    left: -9999px;
    margin: 0;
    opacity: 1;
    padding-left: 15px;
    position: static;
    z-index: 99; }
    @media only screen and (min-width: 960px) {
      .genesis-nav-menu .sub-menu .sub-menu {
        margin: -46px 0 0 179px; } }
    .genesis-nav-menu .sub-menu a {
      background-color: #fff;
      font-size: 14px;
      position: relative;
      word-wrap: break-word; }
      @media only screen and (min-width: 960px) {
        .genesis-nav-menu .sub-menu a {
          border: 1px solid #eee;
          border-top: 0;
          padding-bottom: 15px;
          padding-top: 15px; } }
    @media only screen and (min-width: 960px) {
      .genesis-nav-menu .sub-menu {
        border-top: 1px solid #eee;
        opacity: 0;
        padding-left: 0;
        position: absolute;
        transition: opacity 0.4s ease-in-out; } }
  @media only screen and (min-width: 960px) {
    .genesis-nav-menu > .menu-highlight > a {
      background-color: #222325;
      border-radius: 3px;
      color: #fff;
      font-weight: 600;
      margin-left: 15px;
      padding-left: 20px;
      padding-right: 20px; } }
  .genesis-nav-menu .search-form {
    display: flex;
    padding-left: 15px; }
    .genesis-nav-menu .search-form .search-form-submit,
    .genesis-nav-menu .search-form .search-form-input {
      border-radius: 2px;
      font-size: 0.8em;
      padding: 5px 15px;
      margin: 0;
      height: 35px; }
    .genesis-nav-menu .search-form .search-form-input {
      margin-right: 5px; }
    .genesis-nav-menu .search-form .search-form-submit {
      content: "\f179";
      display: inline-block;
      font-family: "dashicons";
      font-size: 16px; }
    @media only screen and (max-width: 960px) {
      .genesis-nav-menu .search-form {
        padding-left: 0; } }
  @media only screen and (max-width: 960px) {
    .genesis-nav-menu {
      flex-direction: column;
      align-items: flex-start; } }

.mobile-menu-toggle {
  --size: 30px;
  transition: ease-in-out 0.2s;
  position: relative;
  background: 0;
  float: left;
  height: var(--size);
  width: var(--size);
  z-index: 1;
  outline: 0;
  padding: 0;
  border: 0; }
  .mobile-menu-toggle.active span {
    background: none; }
    .mobile-menu-toggle.active span::before {
      transform: rotate(45deg); }
    .mobile-menu-toggle.active span::after {
      transform: rotate(-45deg); }
    .mobile-menu-toggle.active span::before, .mobile-menu-toggle.active span::after {
      top: 0; }
    .mobile-menu-toggle.active span, .mobile-menu-toggle.active span::before, .mobile-menu-toggle.active span::after {
      transition: ease-in-out 0.2s; }
  .mobile-menu-toggle span, .mobile-menu-toggle span::before, .mobile-menu-toggle span::after {
    transition: ease-in-out 0.2s;
    position: absolute;
    background: #000;
    margin: auto;
    width: 100%;
    height: 3px;
    content: '';
    top: 50%;
    left: 0; }
  .mobile-menu-toggle span::before {
    top: -10px; }
  .mobile-menu-toggle span::after {
    top: 10px; }
  .mobile-menu-toggle span::before, .mobile-menu-toggle span::after {
    transform: rotate(0deg); }
  @media only screen and (min-width: 960px) {
    .mobile-menu-toggle {
      display: none; } }

.pagination {
  clear: both;
  margin: 60px 0; }

.adjacent-entry-pagination {
  margin-bottom: 0; }

.archive-pagination li {
  display: inline; }

.archive-pagination li a {
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  padding: 8px 12px;
  text-decoration: none; }

.archive-pagination li a:focus,
.archive-pagination li a:hover,
.archive-pagination li.active a {
  background-color: #333;
  color: #fff; }

.entry-footer .entry-meta {
  font-size: 14px; }

.search-form {
  overflow: hidden; }

.entry-content .search-form {
  margin-bottom: 40px;
  width: 50%; }

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
  margin-top: 10px; }

.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 30px;
  width: 100%;
  word-break: break-all; }
  @media print {
    table {
      page-break-inside: avoid; } }

@media print {
  thead {
    display: table-header-group; } }

tbody {
  border-bottom: 1px solid #eee; }

td,
th {
  text-align: left; }

td {
  border-top: 1px solid #eee;
  padding: 6px; }

th {
  font-weight: 400;
  padding: 0 6px; }

@media print {
  tr {
    page-break-inside: avoid; } }

td:first-child,
th:first-child {
  padding-left: 0; }

.widget {
  margin-bottom: 30px; }
  .widget p:last-child,
  .widget ul > li:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0; }
  .widget ul > li {
    margin-bottom: 10px; }
  .widget ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 15px;
    text-indent: -15px; }
  .widget li li {
    border: 0;
    margin: 0 0 0 30px;
    padding: 0; }

.widget_calendar table {
  width: 100%; }
  .widget_calendar table td,
  .widget_calendar table th {
    text-align: center; }

.avatar {
  border-radius: 50%;
  float: left; }

@media only screen and (min-width: 960px) {
  .author-box {
    background-color: #f5f5f5;
    padding: 30px; } }

.author-box .avatar,
.alignleft .avatar {
  margin-right: 20px; }

.alignright .avatar {
  margin-left: 20px; }

.comment .avatar {
  margin: 0 15px 20px 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form input[type="submit"],
.site-container div.wpforms-container-full .wpforms-form button[type="submit"],
.button {
  background-color: #333;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  width: auto; }

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.site-container div.wpforms-container-full .wpforms-form input[type="submit"]:focus,
.site-container div.wpforms-container-full .wpforms-form input[type="submit"]:hover,
.site-container div.wpforms-container-full .wpforms-form button[type="submit"]:focus,
.site-container div.wpforms-container-full .wpforms-form button[type="submit"]:hover,
.button:focus,
.button:hover {
  background-color: #0073e5;
  border-width: 0;
  color: #fff; }

.entry-content .button:focus,
.entry-content .button:hover {
  color: #fff; }

.button {
  display: inline-block; }

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
  background-color: #eee;
  border-width: 0;
  color: #777;
  cursor: not-allowed; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none; }

input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #222325;
  font-weight: 400;
  padding: 15px;
  width: 100%; }

input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none; }

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto; }

::-ms-input-placeholder {
  color: #222325;
  opacity: 1; }

:-ms-input-placeholder {
  color: #222325;
  opacity: 1; }

::placeholder {
  color: #222325;
  opacity: 1; }

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%; }

img {
  height: auto;
  vertical-align: top; }
  @media print {
    img {
      page-break-after: avoid;
      page-break-inside: avoid;
      max-width: 100% !important; } }

figure {
  margin: 0; }

.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.widget_search input[type="submit"]:focus {
  background: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #333;
  display: block;
  font-size: 1em;
  font-weight: 700;
  height: auto;
  padding: 15px 23px 14px;
  text-decoration: none;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.more-link {
  display: inline-block;
  position: relative;
  margin-bottom: 30px; }

.genesis-skip-link {
  margin: 0; }

.genesis-skip-link .skip-link-hidden {
  display: none;
  visibility: hidden; }

.genesis-skip-link li {
  height: 0;
  list-style: none;
  width: 0; }

/* Display outline on focus */
:focus {
  color: #333;
  outline: #ccc solid 1px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px; }
  @media print {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      orphans: 3;
      page-break-after: avoid;
      page-break-inside: avoid;
      widows: 3; } }

h1 {
  font-size: 40px; }

h2 {
  font-size: 26px; }
  h2.entry-title {
    font-size: 32px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

.entry-content h3,
.entry-content h4 {
  font-weight: 600; }

.entry-content h4 {
  margin-top: 40px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  margin: 0 0 30px;
  padding: 0; }

.archive-description {
  margin-bottom: 60px; }

.after-entry .enews {
  text-align: center;
  padding: 10px; }
  @media only screen and (min-width: 960px) {
    .after-entry .enews {
      padding-left: 30px;
      padding-right: 30px; } }

.sidebar .enews {
  background-color: #f5f5f5;
  padding: 30px; }

.enews-widget input {
  font-size: 16px;
  margin-bottom: 10px; }
  .enews-widget input[type="submit"] {
    margin: 0;
    width: 100%; }

.after-entry .enews-widget input {
  text-align: center; }

.enews form + p {
  margin-top: 20px; }

.gs-faq__question {
  background: transparent;
  border-bottom: 1px solid #eee;
  color: #333;
  padding-left: 0;
  padding-right: 0; }
  .gs-faq__question::after {
    content: "\f132";
    font-family: dashicons;
    float: right; }
  .gs-faq__question:focus, .gs-faq__question:hover {
    background: transparent;
    color: #0073e5; }
  .gs-faq__question.gs-faq--expanded::after {
    content: "\f460"; }
