// Footer general
.site-footer {
	background-color: $white;
	border-top: 1px solid #eee;
	font-size: 15px;
	line-height: 1.5;
	padding: $gutter;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

// Footer widgets
.footer-widgets {
	border-top: 1px solid #eee;
	background-color: $white;
	clear: both;
  padding: ($gutter * 2) 0;

  .wrap {
    margin: 0 auto;
    max-width: $desktop-width;
    padding: 0 $gutter;

    @media only screen and (min-width: $breakpoint) {
      max-width: 1140px;
    }
  }
}

.footer-widget-area {
	margin-bottom: 40px;
	padding-left: 30px;
  padding-right: 30px;

  @media only screen and (min-width: $breakpoint) {
		float: left;
		margin-bottom: 0;
		width: calc(100% / 3);
  }
}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
	margin-bottom: 0;
}
