.site-header {
  padding: $gutter 0;

  .wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: $desktop-width;
    padding: 0 $gutter;
  }

  // Site name when logo isn't present
  .title-area {
    p {
      margin-bottom: 0;
    }
  }
}
