.nav-primary {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: ($gutter / 2) 0;
  width: 100%;

  .menu-open & {
    display: block;
    background: $white;
  }

  @media only screen and (min-width: $breakpoint) {
    display: block;
    position: relative;
		width: auto;
  }
}

.genesis-nav-menu {
  display: flex;
  align-items: center;
  width: 100%;

  .menu-item {
    display: block;
    float: none;
    position: relative;

    &:focus,
    &:hover {
      position: relative;
    }

    &:hover > .sub-menu {
      display: block;
      left: auto;
      opacity: 1;
    }

    @media only screen and (min-width: $breakpoint) {
      display: inline-block;
    }
  }

  a {
    color: $gray-base;
    display: block;
    font-size: 15px;
    font-weight: 400;
    outline-offset: -1px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;

    @media only screen and (min-width: $breakpoint) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  a:focus,
  a:hover,
  .current-menu-item > a,
  .sub-menu .current-menu-item > a:focus,
  .sub-menu .current-menu-item > a:hover {
    color: $link-color;
    text-decoration: none;
  }

  .sub-menu,
  .sub-menu a {
    width: 100%;

    @media only screen and (min-width: $breakpoint) {
      width: 180px;
    }
  }

  .sub-menu {
    clear: both;
    display: none;
    left: -9999px;
    margin: 0;
    opacity: 1;
    padding-left: 15px;
    position: static;
    z-index: 99;

    .sub-menu {
      @media only screen and (min-width: $breakpoint) {
        margin: -46px 0 0 179px;
      }
    }

    a {
      background-color: $white;
      font-size: 14px;
      position: relative;
      word-wrap: break-word;

      @media only screen and (min-width: $breakpoint) {
        border: 1px solid #eee;
        border-top: 0;
        padding-bottom: 15px;
        padding-top: 15px;
      }
    }

    @media only screen and (min-width: $breakpoint) {
      border-top: 1px solid #eee;
      opacity: 0;
      padding-left: 0;
      position: absolute;
      transition: opacity 0.4s ease-in-out;
    }
  }

  > .menu-highlight > a {
    @media only screen and (min-width: $breakpoint) {
      background-color: $gray-base;
      border-radius: 3px;
      color: #fff;
      font-weight: 600;
      margin-left: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  // Search box
  .search-form {
    display: flex;
    padding-left: ($gutter / 2);

    .search-form-submit,
    .search-form-input {
      @include border-radius;
      font-size: 0.8em;
      padding: 5px ($gutter / 2);
      margin: 0;
      height: 35px;
    }

    .search-form-input {
      margin-right: 5px;
    }

    .search-form-submit {
      content: "\f179";
      display: inline-block;
      font-family: $icon-font;
      font-size: 16px;
    }

    @media only screen and (max-width: $breakpoint) {
      padding-left: 0;
    }
  }

  @media only screen and (max-width: $breakpoint) {
    flex-direction: column;
    align-items: flex-start;
  }
}
