.mobile-menu-toggle {
  --size: 30px;
	@include trans;
	position: relative;
	background: 0;
	float: left;
	height: var(--size);
	width: var(--size);
	z-index: 1;
	outline: 0;
	padding: 0;
  border: 0;

  &.active {
    span {
      background: none;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }

      &::before,
      &::after {
        top: 0;
      }

      &,
      &::before,
      &::after {
        @include trans;
      }
    }
  }

  span {
    &,
    &::before,
    &::after {
      @include trans;
      position: absolute;
      background: $black;
      margin: auto;
      width: 100%;
      height: 3px;
      content: '';
      top: 50%;
      left: 0;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }

    &::before,
    &::after {
      transform: rotate(0deg);
    }
  }

  @media only screen and (min-width: $breakpoint) {
		display: none;
  }
}
