.sidebar {
	font-size: 16px;
  line-height: 1.5;

  @media only screen and (min-width: $breakpoint) {
		float: right;
		width: 25%;
  }
}

.sidebar .widget {
	margin-bottom: 40px;
}

.sidebar-content .sidebar {
  @media only screen and (min-width: $breakpoint) {
		float: left;
  }
}

.sidebar-content .content {
  @media only screen and (min-width: $breakpoint) {
		float: right;
  }
}

.sidebar p {
	margin-bottom: 20px;
}
