table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: $gutter;
	width: 100%;
  word-break: break-all;

  @media print {
		page-break-inside: avoid;
  }
}

thead {
  @media print {
    display: table-header-group;
  }
}

tbody {
	border-bottom: 1px solid #eee;
}

td,
th {
	text-align: left;
}

td {
	border-top: 1px solid #eee;
	padding: 6px;
}

th {
	font-weight: 400;
	padding: 0 6px;
}

tr {
  @media print {
    page-break-inside: avoid;
  }
}

td:first-child,
th:first-child {
	padding-left: 0;
}
