// General
.widget {
  margin-bottom: $gutter;

  p:last-child,
  ul > li:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  ul > li {
    margin-bottom: ($gutter / 3);
  }

  ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: ($gutter / 2);
    text-indent: -($gutter / 2);
  }

  li li {
    border: 0;
    margin: 0 0 0 $gutter;
    padding: 0;
  }
}

// Calendar
.widget_calendar table {
  width: 100%;

  td,
  th {
    text-align: center;
  }
}
