.avatar {
	border-radius: 50%;
	float: left;
}

.author-box {
  @media only screen and (min-width: $breakpoint) {
    background-color: #f5f5f5;
		padding: 30px;
  }
}

.author-box .avatar,
.alignleft .avatar {
	margin-right: 20px;
}

.alignright .avatar {
	margin-left: 20px;
}

.comment .avatar {
	margin: 0 15px 20px 0;
}
