input,
select,
textarea {
	background-color: $white;
	border: 1px solid #ddd;
	color: $gray-base;
	font-weight: 400;
	padding: ($gutter / 2);
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-ms-input-placeholder {
	color: $gray-base;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $gray-base;
	opacity: 1;
}

::placeholder {
	color: $gray-base;
	opacity: 1;
}
