// Objects
embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

// Images
img {
	height: auto;
  vertical-align: top;

  @media print {
		page-break-after: avoid;
		page-break-inside: avoid;
    max-width: 100% !important;
  }
}

figure {
	margin: 0;
}
