// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family;
	font-weight: 700;
	line-height: 1.2;
  margin: 0 0 20px;

  @media print {
		orphans: 3;
		page-break-after: avoid;
		page-break-inside: avoid;
		widows: 3;
  }
}

h1 {
	font-size: 40px;
}

h2 {
  font-size: 26px;

  &.entry-title {
    font-size: 32px;
  }
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

.entry-content h3,
.entry-content h4 {
	font-weight: 600;
}

.entry-content h4 {
	margin-top: 40px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

// Paragraph
p {
	margin: 0 0 $gutter;
	padding: 0;
}
